<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath:jpa.properties" ignore-resource-not-found="true"
	                              ignore-unresolvable="true"/>

	<jee:jndi-lookup id="dataSource" jndi-name="java:jboss/datasources/DevelopmentFlashCardsDataSource"/>

	<!-- EclipseLink is used as JPA vendor -->
	<bean id="eclipseLinkJpaVendorAdapter" class="org.springframework.orm.jpa.vendor.EclipseLinkJpaVendorAdapter">
		<property name="generateDdl" value="true"/>
		<property name="showSql" value="true"/>
		<property name="databasePlatform" value="org.eclipse.persistence.platform.database.PostgreSQLPlatform"/>
	</bean>

	<!-- Entity manager -->
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="jpaVendorAdapter" ref="eclipseLinkJpaVendorAdapter"/>
		<property name="packagesToScan" value="com.censored"/>
		<property name="jpaProperties">
			<props>
				<prop key="eclipselink.ddl-generation">${eclipselink.ddl-generation}</prop>
				<prop key="eclipselink.ddl-generation.output-mode">${eclipselink.ddl-generation.output-mode}</prop>
				<prop key="eclipselink.cache.shared.default">false</prop>
				<prop key="eclipselink.weaving">false</prop>
				<prop key="eclipselink.logging.level">${eclipselink.logging.level}</prop>
				<prop key="eclipselink.logging.level.sql">${eclipselink.logging.level.sql}</prop>
			</props>
		</property>
	</bean>

	<!-- Configure transaction management -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory"/>
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager"/>

	<jpa:repositories base-package="com.censored"/>
</beans>
